.org-image {
    width: 8em;
    height: 8.5em;
}
.org-heading {
    display: inline;
}
.org-item {
    width: 96.5%;
    margin: 0 0 1em 0;
    list-style-type: none;
}
.media-grid {
    margin-left: 0.1em;
    margin-right: -0.5em;
    padding-bottom: 0;
    background-color: inherit;
    border: none;
}
.org-heading > a, .child-node > a{
    color: #4F4E53;
    font-weight: bold;
}
.child-node {
    font-size: 0.83em;
    padding: 0;
}
.count {
    font-size: 1.2em;
    color: #45494A;
    font-weight: normal;
}
.hierarchy-tree-top {
    padding: 20px 0;
    background-color: white;
    margin: 0 0 1em 0;
}
.more-text > a {
    color: #0ea8f4;
}
