.media-image {
    width: 8em;
    height: 8em;
}
.media-head {
    display: inline;
}
.media-item {
    width: 96.5%;
}
.media-grid {
    margin-left: 0.1em;
    margin-right: -0.5em;
    padding-bottom: 0;
    background-color: inherit;
    border: none;
}
.media-head > a, .child-node > a{
    color: #4F4E53;
    font-weight: bold;
}
.child-node {
    font-size: 0.83em;
}
.count {
    font-size: 1.2em;
    color: #45494A;
    font-weight: normal;
}
.hierarchy-tree-top {
    padding: 20px 0;
    background-color: white;
}
