@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
body {
    background: none;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}


/* Home Page */

.banner-container {
    min-height: 400px;
    background: url("Banner_8_11-06.png");
}

.searchbar-container {
    margin-top: 290px;
}

.organizationclusters-container {
    padding: 30px 80px;
    background: #E9EAE5 url("../../../base/images/bg.png");
    box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 0.15);
}

.sectorsclusters-container {
    padding: 30px 80px;
}

.levelgov-cont-header,
.sectors-cont-header {
    text-align: center;
}

.levelgov-cont-descr,
.sectors-cont-descr {
    text-align: center;
    padding: 5px 20px 20px 20px;
}


/* Basic Elements */

.row {
    margin-left: 0px;
}


/*infocard element */

.infocard {
    margin: 0px auto;
    margin-bottom: 20px;
    /*box-shadow: 0 4px 10px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);*/
    background: white;
    border-radius: 5px;
    /*padding: 10px 50px 50px 50px;*/
    position: relative;
    /*padding: 0px 30px 30px 30px;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.infocard:before {
    float: left;
    height: 280px
}

.infocard header h5 {
    margin: 0px;
    padding: 5px 20px;
    border-bottom: 1px whitesmoke solid
}

.infocard .content {
    position: relative;
    width: 100%;
    display: block
}

.infocard .content:after {
    display: block;
    clear: both
}

.infocard .content .content-message {
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: #888888;
    text-align: center;
    top: 50%
}

.infocard .content .content-message .content-error {
    display: none
}

.infocard .content .content-message .content-loading {
    display: none
}

.infocard .content .content-box {
    box-sizing: border-box;
    position: absolute;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: 100%
}

.infocard .content .content-box:before {
    content: "";
    float: left;
    height: 100%
}

.infocard .content .content-box .footnotes {
    text-align: right;
    font-size: 11px;
    height: 20px;
    color: #888888
}

.infocard .content .content-box .info-value {
    position: relative;
    overflow: auto;
    margin-bottom: 10px
}

.infocard .content .content-box .info-value .values {
    margin-top: 5px;
    font-size: 48px;
    text-align: right;
    color: #5580aa
}

@media (max-width:979px) and (min-width:768px) {
    .infocard .content .content-box .info-value .values {
        font-size: 43.2px
    }
}

@media (max-width:767px) {
    .infocard .content .content-box .info-value .values {
        font-size: 38.4px
    }
}

.infocard .content .content-box .info-value .values .value {
    display: inline-block
}

.infocard .content .content-box .info-value .values .value:not(:first-child) {
    margin-left: 3%
}

.infocard .content .content-box .info-value .values .value .prefix {
    font-size: 60%
}

.infocard .content .content-box .info-value .values .value .value-label {
    font-size: 70%
}

.infocard .content .content-box .info-value .values-small {
    font-size: 24px
}

@media (max-width:979px) and (min-width:768px) {
    .infocard .content .content-box .info-value .values-small {
        font-size: 21.6px
    }
}

@media (max-width:767px) {
    .infocard .content .content-box .info-value .values-small {
        font-size: 19.2px
    }
}

.infocard .content .content-box .info-value .values-xsmall {
    font-size: 20px
}

@media (max-width:979px) and (min-width:768px) {
    .infocard .content .content-box .info-value .values-xsmall {
        font-size: 18px
    }
}

@media (max-width:767px) {
    .infocard .content .content-box .info-value .values-xsmall {
        font-size: 16px
    }
}

.infocard .content .content-box .info-value .desc {
    text-align: right;
    font-size: 12px
}

@media (max-width:767px) {
    .infocard .info-value-hidden {
        display: none;
        height: 0px
    }
}


/* toolbar */

.toolbar {
    margin: 10px 0px 15px 0px;
    padding: 0px;
}


/* Headers */

h1,
h2,
h3,
h4 {}


/* Resource list*/

.resource-list {
    margin-top: 10px;
}

.resource-item {
    margin-left: 20px;
}


/* Module Heading */

.module:first-child .module-heading,
.module-heading {}

.module-heading {
    position: relative;
    border-top-width: none;
    /* border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.10);
     
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
    */
}

.additional-info {}

.tag {
    border-radius: 2px;
}

.section-hr {
    margin: 5px 0px;
    border-top: 1px solid rgba(204, 204, 204, 0.51);
    ;
}

.additional-info-header {}


/* page.html */

.secondary {
    margin-left: 0;
    background-color: #E9E9E9;
    border-color: #CCC;
}

.primary {
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.21);
}

.row-fluid .secondary {
    width: 25%;
}

.row-fluid .primary {
    width: 75%;
}

#content {
    width: 80%;
}

[role=main] {
    background: rgb(233, 234, 229) url("../../../base/images/bg.png");
    padding-top: 5px;
    margin-bottom: 5px;
}

.toolbar .breadcrumb {
    font-size: 16px;
}


/* Header Customisations - header.html*/

.masthead {
    min-height: 60px;
    color: #F6FFE0;
    background: #00202F;
    padding-top: 5px;
}


/* Footer Template */

.footer-row {
    margin-left: -20px;
}


/* Package Folder Templates */


/* read.html */

.dataset-description-container {
    padding-bottom: 20px;
}

.datasetview-maincontent {
    padding: 0px;
}

.datasetview-sidecontent {
    padding: 20px 0px 20px 20px;
}

.viscontainer {
    padding: 20px 40px 20px 40px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
    */
    border-radius: 5px;
    background: none;
    /* width: 95%; */
    /* margin: 0px auto; */
    margin-top: 0px;
}

.dataset-header-row {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    /* padding: 0px 20px 0px 20px; */
    background: #004563;
    color: rgba(255, 255, 255, 0.98);
    border-radius: 5px 5px 0px 0px;
    padding: 10px 20px 10px 20px;
}

.inner-content-container {
    padding: 20px 40px;
    background: rgb(253, 253, 253);
}

.infocard-small {
    margin: 0px auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.23);
    background: #fff;
    border-radius: 5px;
    padding: 20px 40px 40px 40px;
    margin-top: 20px;
    position: relative;
    border-top: 2px solid rgba(0, 0, 0, 0.08);
}

.module {
    margin: 3px 0px 20px;
}

.manage-button {
    float: right;
    margin-left: 10px;
}

.button-container {
    margin-top: 18px;
}

.ckanext-datapreview {
    padding-top: 0px;
}

.dataset-detail-container {
    border-radius: 0px 0px 5px 5px;
    background: none;
    background: rgba(197, 197, 197, 0.51);
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
*/
}

.dataset-header {
    /*font-family: "Gotham Bold";*/
    font-size: 25px;
    padding-left: 10px;
}


/* Snippets */


/* resource_view.html */

.resource-view {
    margin-top: 0px;
}

.m-top {
    margin-top: 5px;
}


/* tags.html */

.tags-section {
    margin-top: 20px;
    margin-bottom: 30px;
}


/* resource_item.html */

.download-button {
    margin: 4px 0px 0px 5px;
}

.resource-item .btn-group {
    position: relative;
    top: 0px;
}


/* embed_button.html */

.top-header-rightcol {
    margin-top: -8px;
}

.wrapper {
    background-image: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
    padding: 20px;
    padding-top: 30px;
}
.wrapper, .page-header {
    background-color: #E1E1E1;
}
.page-header {
    padding-top: 0 !important;
    border-bottom: 1px solid #BBB;
}
.dataset-side-content {
    border-bottom: 1px solid rgba(48, 49, 44, 0.2);
    border-right: 1px solid rgba(48, 49, 44, 0.2);
}

a:hover,
a:focus {
    text-decoration: underline;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
    color: black;
    background-color: rgba(248, 202, 77, 0.95);
    ;
}

a {
    color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*background: rgba(255,0,0,0.8);*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {}

.notes {
    margin: 10px;
}

.table-container {
    padding: 20px 10px;
}

.site-footer {
    background: #00202F url("../../../base/images/bg.png");
}

.dataset-description {
    margin-top: 2px;
    padding: 0px 10px;
}

.dataset-resources {
    margin-top: 5px;
    margin-left: 10px !important;
}

.dataset-heading {
    font-size: 17px;
}








.nav-tabs.nav-stacked > li > a {
  
    color: #555555;
}

.nav-tabs.nav-stacked > li.elem.active {
    font-weight: bold;
}