body{
	font-family:"Gotham Book","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

/* page.html */
.container {
    width: 90%;
}
[role=main]  {
	background: #F6FFE0;
}

.toolbar .breadcrumb {
	font-size: 16px;
}
/* Header Customisations - header.html*/
.masthead {
	min-height: 60px;
    color: #F6FFE0;
    background: #00202F;
}


/* Package Foldeer Templates */

/* Snippets */
/* resource_view.html */
.resource-view {
    margin-top: 0px;
}



/* Basic Elements */
.infocard {
    margin: 0px auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 1px 3px rgba(0,0,0,0.23);
    background: #fff;
    border-radius: 2px;


  position: relative;

}

.infocard:before {
    float: left;
    height: 280px
}

.infocard header h5 {
    margin: 0px;
    padding: 5px 20px;
    border-bottom: 1px whitesmoke solid
}

.infocard .content {
    position: relative;
    width: 100%;
    display: block
}

.infocard .content:after {
    display: block;
    clear: both
}

.infocard .content .content-message {
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: #888888;
    text-align: center;
    top: 50%
}

.infocard .content .content-message .content-error {
    display: none
}

.infocard .content .content-message .content-loading {
    display: none
}

.infocard .content .content-box {
    box-sizing: border-box;
    position: absolute;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: 100%
}

.infocard .content .content-box:before {
    content: "";
    float: left;
    height: 100%
}

.infocard .content .content-box .footnotes {
    text-align: right;
    font-size: 11px;
    height: 20px;
    color: #888888
}

.infocard .content .content-box .info-value {
    position: relative;
    overflow: auto;
    margin-bottom: 10px
}

.infocard .content .content-box .info-value .values {
    margin-top: 5px;
    font-size: 48px;
    text-align: right;
    color: #5580aa
}

@media (max-width:979px) and (min-width:768px) {
    .infocard .content .content-box .info-value .values {
        font-size: 43.2px
    }
}

@media (max-width:767px) {
    .infocard .content .content-box .info-value .values {
        font-size: 38.4px
    }
}

.infocard .content .content-box .info-value .values .value {
    display: inline-block
}

.infocard .content .content-box .info-value .values .value:not(:first-child) {
    margin-left: 3%
}

.infocard .content .content-box .info-value .values .value .prefix {
    font-size: 60%
}

.infocard .content .content-box .info-value .values .value .value-label {
    font-size: 70%
}

.infocard .content .content-box .info-value .values-small {
    font-size: 24px
}

@media (max-width:979px) and (min-width:768px) {
    .infocard .content .content-box .info-value .values-small {
        font-size: 21.6px
    }
}

@media (max-width:767px) {
    .infocard .content .content-box .info-value .values-small {
        font-size: 19.2px
    }
}

.infocard .content .content-box .info-value .values-xsmall {
    font-size: 20px
}

@media (max-width:979px) and (min-width:768px) {
    .infocard .content .content-box .info-value .values-xsmall {
        font-size: 18px
    }
}

@media (max-width:767px) {
    .infocard .content .content-box .info-value .values-xsmall {
        font-size: 16px
    }
}

.infocard .content .content-box .info-value .desc {
    text-align: right;
    font-size: 12px
}

@media (max-width:767px) {
    .infocard .info-value-hidden {
        display: none;
        height: 0px
    }
}

.infocard .dataTables_wrapper {
    overflow-y: auto;
    max-height: 90%
}

.infocard .info-table {
    clear: none;
    font-size: 12px;
    font-weight: 400
}

.infocard .info-table thead {
    display: none
}

.infocard .info-table td {
    vertical-align: top;
    text-align: center
}

.infocard .info-table td:last-of-type {
    font-size: 14px;
    font-weight: 700
}

@media (max-width:979px) and (min-width:768px) {
    .infocard .info-table td {
        padding: 5px
    }
}

.infocard .info-table tr:hover {
    background-color: rgba(136, 136, 136, 0.2)
}

.infocard .info-table .odd {
    background-color: rgba(136, 136, 136, 0.1)
}

.infocard .info-before,
.infocard .info-after {
    margin-right: 0px;
    margin-top: 20px;
    text-align: center
}

.infocard .info-before .values .value,
.infocard .info-after .values .value {
    margin: 0px
}

.infocard .info-after .values {
    font-size: 65px;
    font-weight: 700
}

.infocard .info-before {
    opacity: 0.8
}

.infocard .info-before .desc {
    font-size: 12px
}

.infocard .chart-box {
    position: relative;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.infocard .chart-box:after {
    display: block;
    clear: both
}

.infocard .chart {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: visible
}

.infocard .chart .axis path,
.infocard .chart .axis line {
    fill: none;
    shape-rendering: crispEdges
}

.infocard .chart .axis .tick line {
    stroke: #888888;
    stroke-width: 1px;
    stroke-opacity: 0.5
}

.infocard .chart text {
    font-size: 10px;
    font-weight: 400;
    fill: #222222
}

.infocard .chart .label polyline {
    stroke: #222222;
    stroke-width: 1px;
    fill: none
}

@media (min-width:768px) and (max-width:979px) {
    .infocard .chart .label {
        display: none
    }
}

@media (max-width:480px) {
    .infocard .chart .label {
        display: none
    }
}

.infocard .chart .area {
    opacity: 0
}

.infocard .chart .line {
    stroke-width: 3px;
    fill: none
}

.infocard .chart .event-rect {
    opacity: 0
}

.infocard .chart .guide {
    stroke: #888888;
    stroke-width: 2px
}

.infocard .chart .point {
    stroke-width: 1.5px;
    fill: none
}

.infocard .chart .reference-line {
    stroke: #f2f2f2;
    stroke-width: 1.5px
}

.infocard .chart .reference-area {
    fill: #888888;
    opacity: 0.1
}

.infocard .chart .reference-text {
    text-anchor: end;
    fill: #888888;
    opacity: 0.6
}

.infocard .chart-bar .x.axis .tick:not(:first-of-type) line {
    stroke-dasharray: 2, 5
}

.infocard .chart-line .y.axis .tick:not(:first-of-type) line,
.infocard .chart-timeseries .y.axis .tick:not(:first-of-type) line,
.infocard .chart-stacked .y.axis .tick:not(:first-of-type) line,
.infocard .chart-column .y.axis .tick:not(:first-of-type) line {
    stroke-dasharray: 2, 5
}

.infocard .popover {
    font-size: 10px;
    width: auto;
    white-space: nowrap
}

.infocard .popover .popover-title {
    text-align: center
}

.infocard .popover .popover-title,
.infocard .popover .popover-content {
    font-size: 10px;
    padding: 3px 10px
}

.infocard .popover .popover-title i,
.infocard .popover .popover-content i {
    margin-right: 5px
}

.infocard .popover .popover-title .total,
.infocard .popover .popover-content .total {
    text-align: center
}

.infocard .popover .popover-title .total span,
.infocard .popover .popover-content .total span {
    font-weight: 700
}

.infocard .popover .popover-content {
    color: #222222
}
