@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');



/* Home Page */



.searchbar-container {
    margin-top: 290px;
}

.organizationclusters-container {
    padding: 30px 80px;
    background: #E9EAE5 url("../../../base/images/bg.png");
    box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 0.15);
}

.sectorsclusters-container {
    padding: 30px 80px;
}

.levelgov-cont-header,
.sectors-cont-header {
    text-align: center;
}

.levelgov-cont-descr,
.sectors-cont-descr {
    text-align: center;
    padding: 5px 20px 20px 20px;
}


/* Basic Elements */

.row {
    margin-left: 0px;
}




/* toolbar */

.toolbar {
    margin: 10px 0px 15px 0px;
    padding: 0px;
}




/* Resource list*/

.resource-list {
    margin-top: 10px;
}




/* Module Heading */

.module:first-child .module-heading,
.module-heading {}

.module-heading {
    position: relative;
    border-top-width: none;
    /* border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.10);
     
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
    */
}

.additional-info {}

.tag {
    border-radius: 2px;
}

.section-hr {
    margin: 5px 0px;
    border-top: 1px solid rgba(204, 204, 204, 0.51);
    ;
}

.additional-info-header {}


/* page.html */


.secondary {
    margin-left: 0;
    /* change background color for sidebar
    background-color: #E9E9E9;
    border-color: #CCC;
    */
}


.toolbar .breadcrumb {
    font-size: 16px;
}








/* Package Folder Templates */


/* read.html */

.dataset-description-container {
    padding-bottom: 20px;
}

.datasetview-maincontent {
    padding: 0px;
}

.datasetview-sidecontent {
    padding: 20px 0px 20px 20px;
}

.viscontainer {
    padding: 10px 40px 20px 40px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
    */
    border-radius: 5px;
    background: none;
    /* width: 95%; */
    /* margin: 0px auto; */
    margin-top: 0px;
}

.dataset-header-row {
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
     padding: 0px 20px 0px 20px; */
    background: #004563;
    color: rgba(255, 255, 255, 0.98);
    border-radius: 5px 5px 0px 0px;
    padding: 10px 20px 10px 20px;
}

.inner-content-container {
    padding: 20px 40px;
    background: rgb(253, 253, 253);
}

.main-outer-container-small {
    margin: 0px auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.23);
    background: #fff;
    border-radius: 5px;
    padding: 20px 40px 40px 40px;
    margin-top: 20px;
    position: relative;
    border-top: 2px solid rgba(0, 0, 0, 0.08);
}

.module {
    margin: 3px 0px 20px;
}

.manage-button {
    float: right;
    margin-left: 10px;
}

.button-container {
    margin-top: 18px;
}

.ckanext-datapreview {
    padding-top: 0px;
}

.dataset-detail-container {
    border-radius: 0px 0px 5px 5px;
    background: none;
    background: rgba(197, 197, 197, 0.51);
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
*/
}



/* Snippets */


/* resource_view.html */

.resource-view {
    margin-top: 0px;
}

.m-top {
    margin-top: 5px;
}


/* tags.html */

.tags-section {
    margin-top: 20px;
    margin-bottom: 30px;
}


/* resource_item.html */



.resource-item .btn-group {
    position: relative;
    top: 0px;
}


/* embed_button.html */

.top-header-rightcol {
    margin-top: -8px;
}


.wrapper {
    background-image: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
    /* add padding for sidebar in container
    padding: 20px;
    padding-top: 30px;
    */
}
/* change background for wrapper and page header
.wrapper, .page-header {
    background-color: #E1E1E1;
}
.page-header {
    padding-top: 0 !important;
    border-bottom: 1px solid #BBB;
}
*/

.dataset-side-content {
    border-bottom: 1px solid rgba(48, 49, 44, 0.2);
    border-right: 1px solid rgba(48, 49, 44, 0.2);
}

a:hover,
a:focus {
    text-decoration: underline;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
    color: black;
    background-color: rgba(248, 202, 77, 0.95);
    ;
}

a {
    color: #000000;
}

.notes {
    margin: 10px;
}

.table-container {
    padding: 20px 10px;
}

.site-footer {
    background: #00202F url("../../../base/images/bg.png");
}

.dataset-description {
    margin-top: 2px;
    padding: 0px 10px;
}











.nav-tabs.nav-stacked > li > a {
  
    color: #555555;
}

.nav-tabs.nav-stacked > li.elem.active {
    font-weight: bold;
}