.dataset-item {
    background-color: white;
    padding: 15px;
}
.heading-meta
{
    color: #9a9e9f;
    font-weight: bold;
    padding-bottom: 10px;
}
.sector-label {
    border-radius: 0;
    padding: 10px 20px;
    font-size: 14px;
    margin: 15px 20px 15px -10px;
}
.sector-image {
    margin: -15px;
}
.facet-heading:before,
.facet-heading:after {
    display: table;
    line-height: 0;
    content: "";
}
.facet-heading {
    margin: 0;
    font-size: 14px;
    padding-left: 15px;
    margin-top: -10px;
}
dt {
    font-weight: bold;
    font-size: 15px;
}
dd {
    padding: 0 15px;
    font-size: 16px;
}
.sector-nums {
    margin-top: 15px;
    margin-bottom: -25px;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    padding-top: 15px;
}
.facet-footer {
    border: none;
    border-bottom: 1px dotted #BBB;
    margin-right: 15px;
    margin-left: 15px;
}
.facet-item-name {
    position: relative;
    top: 7px;
}
.facet-item {
    padding-left: 15px !important;
    border-bottom: none !important;
}
.inline-facet-item {
    display: inline;
}
.facet-item * {
    color: #333;
    font-size: 14px;
    font-weight: normal;
}
.dataset-list {
    margin-top: -35px;
}
