.dataset-item {
    background-color: white;
    padding: 15px;
}
.heading-meta
{
    color: #9a9e9f;
    font-weight: bold;
    padding-bottom: 10px;
}
.sector-label {
    border-radius: 0;
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 0;
}
.sector-image {
    margin: -15px;
}
.sector-heading {
    padding-top: 15px;
    padding-bottom: 15px;
}
.context-info .sector-nums dl dt {
    margin-top: -15px;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
}
.context-info .sector-nums dl dd {
    padding: 0 35px;
    margin-top: -18px;
    font-size: 16px;
}
.sector-nums {
    margin-bottom: -10px;
}
.sector-facet-heading {
    margin-top: -20px;
    font-size: 16px;
    background-color: white;
    border: none;
    padding: 0;
}
