{% ckan_extends %}

{% block subtitle %}{{ _('Sectors') }}{% endblock %}


{% block breadcrumb_content %}
  <li class="active">{% link_for _('Groups'), controller='group', action='index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add Group'), controller='group', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('Groups') }}</h1>
  {% block groups_search_form %}
  {% set dataset_count = h.get_package_count(c.page.items) %}
  {% snippet 'snippets/search_form.html', form_id='group-search-form', type='group', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, dataset_count=dataset_count, placeholder=_('Search sectors...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
{% endblock %}
  
  {% block groups_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "group/snippets/group_list.html", groups=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no groups for this site') }}.
        {% if h.check_access('group_create') %}
          {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager() }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet "group/snippets/helper.html" %}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="
The portal includes twelve broad sectors. These sectors represent Union and State Budget expenditure on both Economic Services and Social Services. The sector specific data-sets aid in tracking the trends and patterns of public spending by the government to influence varied development outcomes.">
{% endblock %}

{% block og_objs%}
    <meta property="og:title" content="Sectors - Open Budgets India" />
    <meta property="og:description" content="Search datasets based on 12 broad sectors"/>
    <meta property="og:type" content="article" >
    <meta property="og:url" content="{{ h.full_current_url() }}" >
{% endblock %}