<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/combined-budget">
                <img src="CB-09.png" alt="combined-budget-union-states" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
                <a href="/organization/about/combined-budget">Combined Budget (Union &amp; States)</a>
              </h3>
            <p class="org-media-descrp">
                Combined budget provides a comprehensive overview of the combined budgetary transactions of the Central and State Governments. The data-sets in this section are related to Annual Plan outlays and pattern of their financing, trends in domestic saving and investment, trends in net domestic product of States, etc.
            </p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/union-budget">
                <img src="UB-09.png" alt="union-budget" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/union-budget">Union Budget</a>
      </h3>
            <p class="org-media-descrp">Union Budget refers to the budget of the Central Government declared annually by the Ministry of Finance. The Union Budget includes details of both its receipts and expenditures under several ministries and departments. The receipts account includes both tax and non-tax receipts.</p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/states-budget">
                <img src="SB-09.png" alt="states-budget" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/states-budget">State Budgets</a>
      </h3>
            <p class="org-media-descrp">This section provides both aggregate state budget indicators as published by the Reserve Bank of India and disaggregated budget data from individual states for different years. Each State has a Constitutional requirement of providing an annual statement of its anticipated receipts and expenditure for each financial year before the State Legislature. The set of...</p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/municipal-budget">
                <img src="MB-09.png" alt="municipal-corporation-budgets" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/municipal-budget">Municipal Corporation Budgets</a>
      </h3>
            <p class="org-media-descrp">Following the Constitutional status accorded to Urban Local Governments, various States created enabling legislation to transfer responsibilities of local infrastructure and service delivery to this tier of government. Budgets of Municipal Corporations provide details of sources of receipts (both own sources of receipts and other sources of revenue such as grants, etc.) and expenditure that are carried out by these bodies.</p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/district-treasuries">
                <img src="Orissa_State.jpg" alt="district-treasuries" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/district-treasuries">District Treasury</a>
      </h3>
            <p class="org-media-descrp">
                This section provides detailed data from the treasuries of various districts in different states. The data incorporated in this section has been collated from the records of disbursement from the respective state treasuries for the last few years.
            </p>
        </div>
    </div>
</li>