<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/combined-budget">
                <img src="CB-09.png" alt="combined-budget-union-states" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
                <a href="/organization/about/combined-budget">Combined Budget (Union &amp; States)</a>
              </h3>
            <p class="org-media-descrp">
                This section has a lot of useful documents and datasets on - combined receipts and expenditure by the Union and State Governments; it also offers time series data for several important fiscal indicators for the country.
            </p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/union-budget">
                <img src="UB-09.png" alt="union-budget" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/union-budget">Union Budget</a>
      </h3>
            <p class="org-media-descrp">
                This section has a lot of useful documents and datasets on - the receipts and expenditure by the Union Government of India - over the last two decades.
            </p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/states-budget">
                <img src="SB-09.png" alt="states-budget" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/states-budget">State Budgets</a>
      </h3>
            <p class="org-media-descrp">
                This section has the budget documents - covering all detailed budget books - for nearly all States for the last several financial years. It also presents the budget documents for some of the States in a machine-readable format.
            </p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/municipal-budget">
                <img src="MB-09.png" alt="municipal-corporation-budgets" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/municipal-budget">Municipal Corporation Budgets</a>
      </h3>
            <p class="org-media-descrp">
                This section has machine-readable datasets on - the receipts and expenditures by a large number of Municipal Corporations in India.
            </p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/district-treasuries">
                <img src="Orissa_State.jpg" alt="district-treasuries" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/district-data">District</a>
      </h3>
            <p class="org-media-descrp">
                This section presents the actual expenditure flows for the years covered, which happened through the District Treasuries, in select districts across select States. More such Geo-Specific Dashboards will be added in the coming months.
            </p>
        </div>
    </div>
</li>
<li class=" media org-item">
    <div class="row">
        <div class="span2">
            <a href="/organization/about/district-treasuries">
                <img src="Orissa_State.jpg" alt="district-treasuries" class="media-image media-object pull-left org-image">
                </a>
        </div>
        <div class="span9">
            <h3 class="media-heading org-heading">
        <a href="/organization/about/constituency-data">Constituency</a>
      </h3>
            <p class="org-media-descrp">
                This section presents the actual expenditure flows for the years covered, which happened through the District Treasuries, in select districts across select States. More such Geo-Specific Dashboards will be added in the coming months.
            </p>
        </div>
    </div>
</li>
