
    <li class=" media org-item">
        <div class="row">
            <div class="span2">
                <a href="/organization/about/combined-budget">
                <img src="CB-09.png" alt="combined-budget-union-states" class="media-image media-object pull-left org-image">
                </a>
            </div>
            <div class="span9">
                <h3 class="media-heading org-heading">
                <a href="/organization/about/combined-budget">Combined Budget (Union &amp; States)</a>
              </h3>
                <p class="org-media-descrp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </div>
    </li>

    <li class=" media org-item">
        <div class="row">
            <div class="span2">
            <a href="/organization/about/municipal-budget">
                <img src="MB-09.png" alt="municipal-corporation-budgets" class="media-image media-object pull-left org-image">
                </a>
            </div>
            <div class="span9">
                <h3 class="media-heading org-heading">
        <a href="/organization/about/municipal-budget">Municipal Corporation Budgets</a>
      </h3>
                <p class="org-media-descrp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a...</p>
            </div>
        </div>
    </li>

    <li class=" media org-item">
        <div class="row">
            <div class="span2">
            <a href="/organization/about/states-budget">
                <img src="SB-09.png" alt="states-budget" class="media-image media-object pull-left org-image">
                </a>
            </div>
            <div class="span9">
                <h3 class="media-heading org-heading">
        <a href="/organization/about/states-budget">States Budget</a>
      </h3>
                <p class="org-media-descrp">Each State has a Constitutional requirement of providing an annual statement of its anticipated receipts and expenditure for each financial year before the State Legislature. The set of...</p>
            </div>
        </div>
    </li>

    <li class=" media org-item">
        <div class="row">
            <div class="span2">
            <a href="/organization/about/union-budget">
                <img src="UB-09.png" alt="union-budget" class="media-image media-object pull-left org-image">
                </a>
            </div>
            <div class="span9">
                <h3 class="media-heading org-heading">
        <a href="/organization/about/union-budget">Union Budget</a>
      </h3>
                <p class="org-media-descrp">Union Budget refers to the budget of the Central Government declared annually by the Ministry of Finance. The union budget includes details of both its receipts and expenditures under...</p>
            </div>
        </div>
    </li>


