<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Tiers of Government?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
      Tiers of government refer to distinct levels of government which are set up in geographically vast countries with heterogeneity in population. The purpose of such classification is to ensure efficient governance and an equitable provisioning of public goods through co-operation, co-ordination and competition between the different tiers. In India, there are three tiers of government: Union, State and Local. The latter can be either urban or rural. Each of these tiers has constitutionally mandated responsibilities to raise resources and spend the same. An annual statement of receipts and expenditures are presented by all tiers of government, together constituting Government Budget in India.
        
      {% endtrans %}
    </p>
  </div>
</div>