{#
Displays a tree of organzations

NB This template can be slow because it is recursive and uses link_for. At
DGU we speeded up display of the tree 10 times (necessary as we have 1000 
organizations) by replacing this template with a recursive code routine:
https://github.com/datagovuk/ckanext-dgu/blob/5fb78b354517c2198245bdc9c98fb5d6c82c6bcc/ckanext/dgu/lib/helpers.py#L140 

orgs    - List of organizations

Example:

  {% snippet 'organization/snippets/organization_tree.html', top_nodes=h.group_tree(type_='organization'), use_longnames=False %}

#}


{% resource 'openbudgetsin_theme/level_of_gov.css' %}

{% set type = node.type or 'organization' %}
{% set url = h.url_for(type ~ '_read', action='read', id=node.name) %}

{% block item %}
<div class="row item-container">
  {% block item_inner scoped %}

    {% set longname = h.group_tree_get_longname(node.name) %} 
    {% set display_text = node.title %} 
    {% if use_longnames and longname%}
      {% set display_text = longname + " (" + display_text + ")" %}
    {% endif %} 
  
    {% if node.children %}

      <div class="span2 no-padding">
        <img src="{{ node.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ node.name }}" class="media-image">
      </div>
    
      <div class="span10">
        <div class="row">
          <div class="span12 no-padding-left">
              <h4 class="media-head">
                  {% link_for display_text, controller='organization', action='read', id=node.name %}
               </h4>

                  <span style="margin: 0 10px;">|</span>

            {% if node.package_count %}
              <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', node.package_count).format(num=node.package_count) }} found</strong>
            {% else %}
              <span class="count">{{ _('0 Datasets found') }}</span>
            {% endif %}

          </div>
        </div>

        <div class="row">
          <div class="span12 no-padding-left">
          {% if node.description %}
            <p>{{ h.markdown_extract(node.description) }}</p>
          {% endif %}
          </div>
        </div>

        {% set j = 0 %} 
        {% for i in range(2) %}
        <div class="row">
          {% for child in node.children[j:j+2] %}
          <div class="span3 no-padding-left">
            {% set child_node = child %}
            {% if child_node %}
              {% link_for child_node.title, controller='organization', action='read', id=child_node.name %}
            {% endif %}
          </div>
          {% endfor %}
          {% set j = j+2 %} 
        </div>
        {% endfor %}

        <div class="row">
            <span class="pull-right">
              {% link_for "see more...", controller='organization', action='read', id=node.name %}
            </span>
        </div>

      </div>

    {% endif %}
    
  {% endblock %}
</div>
{% endblock %}
