{% ckan_extends %}

{% block organization_list %}
<ul class="media-grid" data-module="media-grid">
     {% if  c.q %}
     	{% set top_nodes = h.group_tree_highlight(organizations, h.group_tree(type_='organization')) %}
     {% else %}
     	{% set top_nodes = h.group_tree(organizations=organizations, type_='organization') %}
     {% endif %}

     {% for node in top_nodes %}
       {% snippet 'organization/snippets/organization_item.html', node=node, use_longnames=True %}
     {% endfor %}
</ul>
{% endblock %}
