{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content about_page">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          <h1 class="page-heading">{{ _('About') }}</h1>
          {% snippet 'home/snippets/about_text.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}

{% block meta_description %}
    <meta name="description" content="About the Project - OpenBudgetsIndia. Open Budgets India (OBI) is a data portal that provides budget information on Union, State and Local Level Budgets in India. It is an initiative started by Centre for Budget and Governance Accountability(CBGA) and has been made possible with the generous and active interest of our funders, Omidyar Network, Bill and Melinda Gates Foundation (BMGF), International Development Research Centre- Think Tank Initiative (IDRC-TTI) and National Foundation for India (NFI).">
{% endblock %}