  <div class="banner-container">
    <div class="row-fluid" >
      <div class="span8 offset2">
            {% block search %}
              {% snippet 'home/snippets/search.html' %}
            {% endblock %}
      </div>
    </div>
    {#<div class="row-fluid">
    {% snippet 'snippets/search_result_text.html',dataset_count=dataset_count, 
     type='dataset', query=c.q, count=c.page.item_count %}
     </div>#}
  </div>
  <div class="newinfo-container">
    <div class="row-fluid">

    </div>
  </div>
  <div class="datasetclusters-container">
    <div class="organizationclusters-container">
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="levelgov-cont-header">
          <h2>Tiers of Government</h2>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span8 offset2 levelgov-cont-descr">
        <p>
          Tiers of government refer to distinct levels of government set up for a particular country. In India, there are three tiers of government: Union, State and Local, the latter being either urban or rural. Each of these tiers has constitutionally mandated responsibilities to raise resources and spend the same. An annual statement of receipts and expenditures are presented by all tiers of government, together constituting Government Budget in India.
        </div>
      </div>
      <div class="row-fluid">
        <div class="container text-center organization-icons">
            {% block featured_organization %}
              {% snippet 'home/snippets/featured_organization.html' %}
            {% endblock %}
        </div>
      </div>
    </div>
    </div>
    <div class="sectorsclusters-container">
    <div class="row-fluid">
        <div class="sectors-cont-header">
          <h2>Sectors</h2>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span8 offset2 sectors-cont-descr">
        <p>
          The portal includes twelve broad sectors as organised below. These sectors represent Union and State Budget expenditure on both Economic Services and Social Services. The sector specific data-sets aid in tracking the trends and patterns of public spending by the government to influence varied development outcomes. 
          </p>
        </div>
      </div>
      <div class="container organization-icons">
        <div class="row-fluid">   
            {% block featured_group %}
            {% snippet 'home/snippets/featured_group.html' %}
          {% endblock %}
          
        </div>
      </div>
    </div>
  </div>