{% block meta_description %}
<meta
  name="description"
  content="Making India's Budgets Open, Usable and Easy to Comprehend. Find Union Budgets, State Budgets, RBI data and Municipal budgets across years. Gain inferences from Budget Data Visualizations. We are a comprehensive and user-friendly open data portal facilitating free, easy and timely access to relevant data on government budgets in India."
/>
{% endblock %} {% set stats = h.get_site_statistics() %}
<div class="homepage-container">
  <div class="row-fluid">
    <div class="latest-highlights-container">
      {% block latest_highlights %} {% snippet
      'home/snippets/latest_highlights.html' %} {% endblock %}
    </div>
  </div>
  <div class="row-fluid">
    <div class="top-container">
      <div class="">
        <div class="row-fluid text-align-center">
          <h2 class="home-tagline">
            Making India's Budgets open, usable and easy to comprehend
          </h2>
        </div>
        <div class="row-fluid">
          <div class="text-center">
            {% block search %} {% snippet 'home/snippets/search.html' %} {%
            endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="bg-curved intro-new-section">
      <div class="hompepage-section-intro-text-container">
        <div class="row-fluid">
          <div class="introductory-text">
            <h2 class="homepage-section-heading"><span>Dashboards</span></h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="banner-description">
            <h3 class="homepage-section-text">
              Find relevant budget and spending data at the Union, State, and District levels in these dashboards, designed to help you navigate the labyrinth of fiscal data through visualisations and analytical insights.
            </h3>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="dashboard-cards-container">
          <a
            href="https://union.openbudgetsindia.org/en/"
            target="_blank"
            class="dashboard-card tall card-width card-link-container"
          >
            <div class="right-aligned card-container new_tag">
              <div class="image-container bar-chart"></div>
              <div class="text-container">
                <h4>Union Budget Explorer 2022-23</h4>
                <p>
                  Explore the Union Budget 2022-23 using visualisations. Data and visualisations can be downloaded for analysis and research.
                </p>
              </div>
            </div>
          </a>
          <a
            href="https://schemes.openbudgetsindia.org/"
            target="_blank"
            class="dashboard-card tall card-width card-link-container ml-2"
          >
            <div class="right-aligned card-container updated_tag">
              <div class="image-container area-chart"></div>
              <div class="text-container">
                <h4>Schemes Dashboard</h4>
                <p>
                  Find downloadable data, visualisations and other useful information related to a number of schemes run by the Union and State Governments.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="dashboard-cards-container mt-2">
          <a
            href="https://sectors.openbudgetsindia.org/"
            target="_blank"
            class="dashboard-card card-width card-link-container"
          >
            <div class="left-aligned card-container card-row-mobile new_tag">
              <div class="text-container">
                <h4>Sector Dashboard</h4>
                <p>
                  Compare aggregate budget indicators across different states and years for thirteen social and economic sectors through simple and interactive visualisations. 
                </p>
              </div>
              <div class="image-container bubble-chart"></div>
            </div>
          </a>

          <div class="cards-group-flex-row ml-2">
            <a
              href="https://assam2021.openbudgetsindia.org/en/"
              target="_blank"
              class="dashboard-card card-width-small card-link-container"
            >
              <div class="left-aligned card-container">
                <div class="text-container">
                  <h4>Assam Budget Explorer 2021-22</h4>
                  <p></p>
                </div>
                <div class="image-container pie-chart"></div>
              </div>
            </a>

            <a
              href="https://hp.openbudgetsindia.org/"
              target="_blank"
              class="dashboard-card card-width-small ml-2 card-link-container"
            >
              <div class="left-aligned card-container">
                <div class="text-container">
                  <h4>Himachal Pradesh Fiscal Data Explorer</h4>
                  <p></p>
                </div>
                <div class="image-container line-chart"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row-fluid mt-2 text-center">
        <a class="dashboards-button home-primary-button" href="/dashboards"
          >View All Dashboards<img
            class="button-arrow-right"
            src="arrow-right-white.svg"
        /></a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="bg-white level-of-governance">
      <div class="hompepage-section-intro-text-container">
        <div class="row-fluid">
          <div class="levelgov-cont-header">
            <h2 class="homepage-section-heading">
              Government-wise Budget Data
            </h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="levelgov-cont-descr banner-description">
            <h3 class="homepage-section-text">
                The OBI platform provides downloadable budget datasets for Union, State and Local Governments.
            </h3>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div id="govt-tiers-cards-container" class="govt-tiers-cards-container">
          <a
            href="https://openbudgetsindia.org/organization/about/combined-budget"
            target="_blank"
            class="govt-tier-card card-link-container"
          >
            <div class="image-container combined-budget"></div>
            <div class="text-container">
              <h4>Combined Budget</h4>
              <h4 class="homepage-section-text">(Union & States)</h4>
            </div>
          </a>
          <a
            href="https://openbudgetsindia.org/organization/about/union-budget"
            target="_blank"
            class="govt-tier-card ml-30 card-link-container"
          >
            <div class="image-container union-budget"></div>
            <div class="text-container">
              <h4>Union Budget</h4>
            </div>
          </a>
          <a
            href="https://openbudgetsindia.org/organization/about/states-budget"
            target="_blank"
            class="govt-tier-card ml-30 card-link-container"
          >
            <div class="image-container states-budget"></div>
            <div class="text-container">
              <h4>State Budgets</h4>
            </div>
          </a>
          <a
            href="https://openbudgetsindia.org/organization/about/district-treasuries"
            target="_blank"
            class="govt-tier-card ml-30 card-link-container"
          >
            <div class="image-container district-treasuries"></div>
            <div class="text-container">
              <h4>District Treasury Flows</h4>
            </div>
          </a>
          <a
            href="https://openbudgetsindia.org/organization/about/municipal-budget"
            target="_blank"
            class="govt-tier-card ml-30 card-link-container"
          >
            <div class="image-container municipal-budget"></div>
            <div class="text-container">
              <h4>Municipal Corporation Budgets</h4>
            </div>
          </a>
          <button class="swipe-right-button">
            <span>Swipe</span>
            <img src="arrow-right.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="bg-grey features-banner">
      <div class="key-features-section">
        <div class="intro-section-row">
          <div class="hompepage-section-intro-text-container budget-basics">
            <div class="row-fluid">
              <h2 class="homepage-section-heading">Budget Forum</h2>
            </div>
            <div class="row-fluid">
              <div class="banner-description">
                <h3 class="homepage-section-text">
                  Discuss, debate, and decode India’s budgets! Engage with a community of budget enthusiasts from across the world.
                </h3>
              </div>
            </div>
          </div>
          <div class="hompepage-section-intro-text-container budget-basics">
            <div class="row-fluid">
              <h2 class="homepage-section-heading">Budget Basics</h2>
            </div>
            <div class="row-fluid">
              <div class="banner-description">
                <h3 class="homepage-section-text">
                  Budget Basics aims to demystify concepts and processes of Government budgets in India, supplemented by short tutorial videos.
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-section-row">
          <!-- <div class="feature-container">
            <a
              href="https://openbudgetsindia.org/dataset?res_format=PDF"
              target="_blank"
              class="feature card-link-container"
            >
              <div class="image-container pdf-icon"></div>
              <div class="text-container mt-8">
                <h4>Budget Documents</h4>
              </div>
            </a>
            <a
              href="https://openbudgetsindia.org/dataset?res_format=CSV"
              target="_blank"
              class="feature ml-24 card-link-container"
            >
              <div class="image-container dataset-icon"></div>
              <div class="text-container mt-8">
                <h4>Machine Readable Datasets</h4>
              </div>
            </a>
            <a
              href="https://openbudgetsindia.org/dataset?tags=Visualization"
              target="_blank"
              class="feature ml-24 card-link-container"
            >
              <div class="image-container visualisation-icon"></div>
              <div class="text-container mt-8">
                <h4>Data Visualizations</h4>
              </div>
            </a>
          </div> -->
          <a
            href="https://forum.openbudgetsindia.org/"
            target="_blank"
            class="budget-basics-card card-link-container discourse"
          >
            <div class="image-container">
              <p class="link-button">
                Join Forum
                <img class="button-arrow-right" src="arrow-right-purple.svg" />
              </p>
            </div>
          </a>
          <a
            href="https://budgetbasics.openbudgetsindia.org/"
            target="_blank"
            class="budget-basics-card card-link-container"
          >
            <div class="image-container">
              <p class="link-button">
                Get Started
                <img class="button-arrow-right" src="arrow-right-purple.svg" />
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="budget-basics-section-mobile ml-2">
        <div class="hompepage-section-intro-text-container">
          <div class="row-fluid">
            <h2 class="homepage-section-heading">Budget Forum</h2>
          </div>
          <div class="row-fluid">
            <div class="banner-description">
              <h3 class="homepage-section-text">
                Discuss, debate, and decode India’s budgets! Engage with a community of budget enthusiasts from across the world. 
              </h3>
            </div>
          </div>
        </div>
        <a
          href="https://forum.openbudgetsindia.org/"
          target="_blank"
          class="budget-basics-card card-link-container discourse"
        >
          <div class="image-container">
            <p class="link-button">
              Join Forum
              <img class="button-arrow-right" src="arrow-right-purple.svg" />
            </p>
          </div>
        </a>
      </div>
      <div class="budget-basics-section-mobile ml-2">
        <div class="hompepage-section-intro-text-container">
          <div class="row-fluid">
            <h2 class="homepage-section-heading">Budget Basics</h2>
          </div>
          <div class="row-fluid">
            <div class="banner-description">
              <h3 class="homepage-section-text">
                We demystify the concepts and processes of government budgets in India, supplemented by short and crisp tutorial videos.
              </h3>
            </div>
          </div>
        </div>
        <a
          href="/budget-basics/"
          target="_blank"
          class="budget-basics-card card-link-container"
        >
          <div class="image-container">
            <p class="link-button">
              Get Started
              <img class="button-arrow-right" src="arrow-right-purple.svg" />
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="case-studies-section">
      <div class="hompepage-section-intro-text-container">
        <div class="row-fluid">
          <h2 class="homepage-section-heading">
            New Developments on Budget Transparency and Accountability
          </h2>
        </div>
        <div class="row-fluid">
          <div class="banner-description">
            <h3 class="homepage-section-text">
              Explore new developments in the field of budget transparency and accountability.
            </h3>
          </div>
        </div>
      </div>
      <div class="case-studies-cards-container">
        <a
          href="https://blog.openbudgetsindia.org/jan-soochna-portal-and-digital-dialogues-need-replication-across-states-5b60d5da7605"
          target="_blank"
          class="case-studies-card card-link-container"
        >
          <div class="right-aligned card-container">
            <div class="image-container first"></div>
            <div class="text-container">
              <h4>Jan Soochna Portal and Digital Dialogues Need Replication across States</h4>
              <p>
                The journey of the Jan Soochna Portal and the digital dialogues reminds us all once again that political and democratic processes need to be at the centre of digital and information rights advocacy.
              </p>
            </div>
          </div>
        </a>

        <a
          href="https://blog.openbudgetsindia.org/the-urban-governance-index-a-useful-assessment-tool-to-enhance-fiscal-transparency-8b5e7140f04b"
          target="_blank"
          class="case-studies-card ml-2 card-link-container"
        >
          <div class="right-aligned card-container">
            <div class="image-container second"></div>
            <div class="text-container">
              <h4>
                The Urban Governance Index: A useful assessment tool to enhance fiscal transparency
              </h4>
              <p>
                Praja’s Urban Governance Index is a useful tool and a welcome initiative which can be customised for examining the various aspects of fiscal governance at the level of urban local bodies in India.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{#
<div class="blog-banner">
  <div class="row-fluid">
    <div class="span2 offset1">
      <img class="bottom-banner-image" src="icons_banner_without_text-18.png" />
    </div>
    <div class="span6 bottom-banner-description">
      Quisque efficitur lacinia porta. Etiam a tortor id nibh porttitor tempor.
      Maecenas at odio nec dolor fermentum elementum. Cras posuere malesuada
      justo et porttitor. Donec vitae arcu ex. Donec porta condimentum interdum.
      Fusce bibendum ultricies commodo. Vestibulum tristique eu sapien a mattis.
      Pellentesque ornare purus tortor, in sollicitudin ligula bibendum sed.
      Mauris vulputate blandit risus.
      <div class="row-fluid">
        <a class="btn btn-primary dataset-explore" href="/dataset"> Explore!</a>
      </div>
    </div>
    <div class="span2">
      <img class="bottom-banner-image" src="icons_banner_without_text-17.png" />
    </div>
  </div>
</div>
#}
