<div class="grid-container">
  <div class="grid-item-1">
    <div class="d-flex align-center justify-space-between">
      <div class="d-flex trending-title-container align-center">
        <div class="trending-title-bar"></div>
        <a
          id="trending-list-link"
          target="_blank"
          href="https://openbudgetsindia.org/dataset?tags=union+budget+2021"
          class="trending-title"
          >Get Union Budget 2021-22 data in CSV, XLSX & PDF formats</a
        >
      </div>
      <div class="new-tag">
        <img src="home-trending-ellipse-1.svg" /><span>New</span>
      </div>
    </div>
  </div>
  <div class="grid-item-2">
    <div class="trending-list-pagination-container">
      <button
        id="trending-list-left-button"
        disabled
        class="pagination-button left"
      ></button>
      <span id="trending-list-pagination" class="pagination-text">1/3</span>
      <button
        id="trending-list-right-button"
        class="pagination-button right"
      ></button>
    </div>
  </div>
</div>
