<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Sectors?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        The portal includes twelve broad sectors as organised below. These sectors represent Union and State Budget expenditure on both Economic Services and Social Services. The sector specific data-sets aid in tracking the trends and patterns of public spending by the government to influence varied development outcomes. 
      {% endtrans %}
    </p>
  </div>
</div>