{% ckan_extends %}

{% block image %}
  <div class="image sector-image">
    <a href="{{ url }}">
      <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="100%" height="115" alt="{{ organization.name }}" />
    </a>
  </div>
{% endblock %}

{% block heading %}
  <h1 class="heading sector-heading">
    {{ organization.title or organization.name }}
    {% if organization.state == 'deleted' %}
      [{{ _('Deleted') }}]
    {% endif %}
  </h1>
{% endblock %}

{% if show_nums %}
  {% block nums %}
 
  {% endblock %}
{% endif %}

{% block follow %}{#
<div class="sector-nums">
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span3">
        <dt>{{ _('Datasets') }}</dt>
      </div>
      <div class="span3"></div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
        <div class="span3">
          <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
        </div>
      <div class="span3"></div>
    </div>
</div>#}
{% endblock %}
