{% ckan_extends %}

{% block content_primary_nav %}
{% endblock %}

{% block page_heading %}
  {% if c.group_dict.longname %}
    {{ c.group_dict.longname }} ({{ c.group_dict.display_name }})
  {% else %}
      {{ super() }}
  {% endif %}
{% endblock %}

{% block organization_description %}
  {{ super() }}
  
  {# TODO: Add JSTree #}

  <div id="organization-tree">
      {% set top_nodes = [h.group_tree_section(id_=c.group_dict.id, type_=c.group_dict.type, include_parents=False)] %}
      {% if (not top_nodes[0].highlighted) or (top_nodes[0].children) %}
          {% snippet 'organization/snippets/organization_tree.html', top_nodes=top_nodes, use_longnames=True %}
      {% endif %}
  </div>

{% endblock %}
