{% ckan_extends %}

{% block content_primary_nav %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'snippets/organization.html', organization=c.group_dict, show_nums=true , show_description=true %}
{% block organization_facets %}
  {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
  {% endfor %}
{% endblock %}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{ c.group_dict.description }}">
{% endblock %}
{% block meta_abstract %}
{% endblock %}
{% block meta_keyword %}
	<meta name="keywords" content="Open Budgets India, OBI, Budget Source " />
{% endblock %}    

{% block og_objs%}
    <meta property="og:title" content="{{ c.group_dict.display_name }}" />
    <meta property="og:description" content="{{ c.group_dict.description }}"/>
    <meta property="og:type" content="article" >
    <meta property="og:url" content="{{ h.full_current_url() }}" >
{% endblock %}
