{% ckan_extends %}

{% block styles %}
  	{{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	{% resource 'openbudgetsin_theme/openbudgetsin_theme_base.css' %}
{% endblock %}

{% block meta %}
      {{ super() }}
  <meta charset="utf-8">

{% block meta_description %}
    <meta name="description" content="Making India's Budgets Open, Usable and Easy to Comprehend. Find Union Budgets, State Budgets, RBI data and Municipal budgets across years. Gain inferences from Budget Data Visualizations. We are a comprehensive and user-friendly open data portal facilitating free, easy and timely access to relevant data on government budgets in India.">
{% endblock %}
{% block meta_abstract %}

{% endblock %}
{% block meta_keyword %}
<meta name="keywords" content="Open Budgets India, Union Budget, State Budgets, Municipal Budgets, OBI, Data Portal India, Open Budgets Data Portal, Open Data, Free Data, Open Budgets Data India, Data Science, Data Visualization, RBI, IPFS, CSV, Budget Data" />
{% endblock %}    
    <meta name="application-name" content="openbudgetsindia.org">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@OpenBudgetsIn">
    <meta name="twitter:title" content="Open Budgets India">
    <meta name="twitter:description" content="Making India's Budgets Open, Usable and Easy to Comprehend. Find Union Budgets, State Budgets, RBI data and Municipal budgets across years. Gain inferences from Budget Data Visualizations. We are a comprehensive and user-friendly open data portal facilitating free, easy and timely access to relevant data on government budgets in India.">
    <meta name="twitter:url" content="https://openbudgetsindia.org/">
    <meta name="twitter:image:src" content="https://openbudgetsindia.org/metatags-29.png">

{% block og_objs %}
    <meta property="og:title" content="Open Budgets India" />
    <meta property="og:description" content="Making India's Budgets Open, Usable and Easy to Comprehend. Find Union Budgets, State Budgets, RBI data and Municipal budgets across years. Gain inferences from Budget Data Visualizations. We are a comprehensive and user-friendly open data portal facilitating free, easy and timely access to relevant data on government budgets in India.">
    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://openbudgetsindia.org/" >
    <meta property="og:image" content="https://openbudgetsindia.org/metatags-28.png" >
    <meta property="og:site_name" content="Open Budgets India" >
{% endblock %}
     
    <meta name="apple-mobile-web-app-title" content="Open Budgets India">
{% endblock %}

{%- block scripts %}
  {{ super() }}

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WNX72G1ZCS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'G-WNX72G1ZCS');
  </script>

{% endblock -%}







