{% ckan_extends %}

{% block styles %}
  	{{ super() }}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	{% resource 'openbudgetsin_theme/openbudgetsin_theme_base.css' %}
{% endblock %}

{% block meta %}
      {{ super() }}
  <meta charset="utf-8">

{% block meta_description %}
    <meta name="description" content="Open Budget Data Portal for India">
{% endblock %}
{% block meta_abstract %}

<meta name="abstract" content=""/>
	<meta name="abstract" content="Open Budgets India - Making India's Budgets open, usable and easy to comprehend. Find budget datasets in CSV, Excel, PDF and gain inferences from Budget Data Visualizations" />
{% endblock %}
{% block meta_keyword %}
	<meta name="keywords" content="Open Budgets India, OBI, Data Portal India, Open Budget Data Portal, Open Data, Free Data, Open Budget Data India, Data Science, Data Visualization" />
{% endblock %}    
    <meta name="application-name" content="openbudgetsindia.org">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@OpenBudgetsIn">
    <meta name="twitter:title" content="OpenBudgetsIndia">
    <meta name="twitter:description" content="Open Budget Data Portal for India">
    <meta name="twitter:url" content="https://openbudgetsindia.org/">
    <meta name="twitter:image:src" content="metatags-29.png">
    
    <meta property="og:title" content="OpenBudgetsIndia" />
    <meta property="og:description" content="Open Budget Data Portal for India" />
    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://openbudgetsindia.org/" >
    <meta property="og:image" content="metatags-28.png" >
    <meta property="og:site_name" content="OpenBudgetsIndia" >
    
    <meta name="apple-mobile-web-app-title" content="OpenBudgetsIndia">
{% endblock %}