<footer class="site-footer">
  <!-- <div class="container"> -->
    {% block footer_content %}
    <div class="footer-links-container">
      <div class="site-logo">
        <a href="https://openbudgetsindia.org/en/" target="_blank"><span class="logo-link-container"></span></a>
      </div>
      
      <div class="footer-links">
        <div class="links-container">
          <h4>Dashboards</h4>
          <div class="links dashboard-links">
            <a href="https://union.openbudgetsindia.org/en/" target="_blank">Union Budget Explorer 2021-22</a>
            <a href="https://union2020.openbudgetsindia.org/en/" target="_blank">Union Budget Explorer 2020-21</a>
            <a href="https://union2019.openbudgetsindia.org/en/" target="_blank">Union Budget Explorer 2019-20</a>
            <a href="https://union2019i.openbudgetsindia.org/en/" target="_blank">Union Budget Explorer 2019-20 (I)</a>
            <a href="https://union2018.openbudgetsindia.org/en/" target="_blank">Union Budget Explorer 2018-19</a>
            <a href="https://hp.openbudgetsindia.org/" target="_blank">Himachal Pradesh Fiscal Data Explorer</a>
            <a href="https://assam2020.openbudgetsindia.org/en/" target="_blank">Assam Budget Explorer 2020-21</a>
            <a href="https://assam2019.openbudgetsindia.org/en/" target="_blank">Assam Budget Explorer 2019-20</a>
            <a href="https://dash.openbudgetsindia.org/superset/dashboard/odisha_balasore_treasury_dashboard/?standalone=true" target="_blank">Balasore District Treasury</a>
            <a href="https://dash.openbudgetsindia.org/superset/dashboard/ap_krishna_treasury_dashboard/?standalone=true" target="_blank">Krishna District Treasury</a>
            <a href="https://schemes.openbudgetsindia.org/" target="_blank">Schemes Dashboard</a>
            <a href="https://cbgaindia.github.io/story-generator/" target="_blank">Story Generator</a>
          </div>
        </div>
        <div class="links-container ml-2">
          <h4>Budget Datasets</h4>
          <div class="links dataset-links">
            <a href="https://openbudgetsindia.org/organization" target="_blank">Government-wise Budget Data</a>
            <a href = "https://openbudgetsindia.org/group" target="_blank">Sector-wise Budget Data</a>
            <a href="https://openbudgetsindia.org/dataset" target="_blank">All Datasets</a>
          </div>
        </div>
        <div class="links-container ml-2">
          <h4>OBI Platform</h4>
          <div class="links platform-links">
            <a href="https://openbudgetsindia.org/pages/how-to-use-the-portal" target="_blank">How to use the OBI Platform</a>
            <a href="https://openbudgetsindia.org/pages/faqs" target="_blank">FAQs on the Platform</a>
            <a href="https://openbudgetsindia.org/about" target="_blank">About OBI Platform</a>
            <a href="https://youtu.be/xKjzH1ZB3c4" target="_blank">Video: OBI Platform</a>
            <a href="https://youtu.be/fGxNh5Xfn2I" target="_blank">Video: Budget Basics</a>
          </div>
        </div>
        <!-- {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}" >{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
          </ul>
          <ul class="unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
              <li><a href="http://www.opendefinition.org/okd/"><img src="{{h.url_for_static('/base/images/od_80x15_blue.png')}}" alt="Open Data License Logo"></a></li>
            {% endblock %}
          </ul>
        {% endblock %} -->

      </div>
      <!-- <div class="span4 social-media-links">
        <div class="row-fluid">
        Connect with Us
        </div>
        <div class="row-fluid">
        <ul class="footer-social">
    
          <li class="nav-item"><a href="https://twitter.com/OpenBudgetsIn" aria-hidden="true" alt="Open Budgets India's Official Twitter Handle" role="link" title="Official Twitter Handle" aria-label="Open Budgets India's Official Twitter Handle" target="_blank"><i class="icon-twitter-sign"></i></a></li>
          <li class="nav-item"><a href="https://www.facebook.com/OpenBudgetsIndia" aria-hidden="true" role="link" alt="Open Budgets India's Official Facebook Page" title="Official Facebook Page" aria-label="Open Budgets India's Official Facebook Page" target="_blank"><i class="icon-facebook-sign"></i></a></li>
          <li class="nav-item"><a href="https://github.com/cbgaindia" alt="Open Budgets India's Official Github handle" aria-label="Open Budgets India's Official Github handle" title="Official Github Handle" aria-hidden="true" role="link" target="_blank"><i class="icon-github-sign"></i></a></li>
          
        </ul>
        </div> -->
      <!-- </div> -->
      <!-- <div class="span4 attribution">
        {% block footer_attribution %}
         {#<p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>#}
         <ul class="footer-right-content">
          <li><a href="/pages/disclaimers" target="_blank">Disclaimer</a></li>
          <li><a href="/pages/license" target="_blank">License</a></li>
          
          <li><a href="/contact" target="_blank">Contact Us</a></li>

        </ul>
        {% endblock %}
        {% block footer_lang %}
          {#{% snippet "snippets/language_selector.html" %}#}
        {% endblock %}
      </div> -->
    </div>
    <div class="attribution-container">
      <div class="attribution-content">
        <div class="links-container">
          <a href="/pages/disclaimers" target="_blank">Disclaimer</a>
          <a class="ml-24" href="/pages/license" target="_blank">License</a>
          <a class="ml-24" href="/contact" target="_blank">Contact Us</a>
          <a class="ml-24" href="https://docs.ckan.org/en/latest/api/" target="_blank">CKAN API</a>
        </div>
        <div class="logos-container">
          <div class="attribution-logos">
            <div class="logo cc">
              <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><span class="card-link-container"></span></a>
            </div>
            <div class="logo oss ml-24">
              <a href="https://opendefinition.org/od/2.1/en/" target="_blank"><span class="card-link-container"></span></a>
            </div>
            </div>
          <div class="social-media-links">
            <a class="link github" href="https://github.com/cbgaindia" target="_blank"></a>
            <a class="link twitter ml-24" href="https://twitter.com/OpenBudgetsIn" target="_blank"></a>
            <a class="link facebook ml-24" href="https://www.facebook.com/OpenBudgetsIndia" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  <!-- </div> -->

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
