.media-image {
    width: 8em;
    height: 8em;
}
.no-padding {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.no-padding-left {
    padding-left: 0;
    margin-left: 0;
}
.media-head {
    display: inline;
}
.media-item {
    width: 96.5%;
}
.media-grid {
    margin-left: 0.1em;
    margin-right: -0.1em;
    padding-bottom: 0;
    background-color: rgba(198, 198, 198, 0.6);
}
