body {
    background: none;
    font-size: 100%;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.row {
    margin-left: 0px;
}

.wrapper {
    overflow: hidden;
}

[class^="icon-"],
[class*=" icon-"] {
    font-size: 18px;
}

.light-text{
    font-weight: 100;
}



/* Header - header.html */

.masthead {
    min-height: 50px;
    color: #F6FFE0;
    background: #00202F;
    padding-top: 15px;
}

.masthead .nav-collapse {
    padding-top: 0px;
}

nav.section.navigation {
    margin-right: -90px;
}

.navbar .nav>li>a {
    padding: 10px 8px 10px;
}

[role=main] {
    background: rgb(233, 234, 229) url("../../../base/images/bg.png");
    padding-top: 5px;
    margin-bottom: 5px;
}

.secondary {
    margin-left: 0;
}

.primary {
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.21);
}

.dataset-header {
    /*font-family: "Gotham Bold";*/
    font-size: 150%;
    padding-left: 10px;
}

.context-info p {
    overflow: hidden;
}

.context-info h1.heading {
    word-break: keep-all;
    -ms-word-break: keep-all;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.datasetview-maincontent .module-heading {
    border-radius: 4px 4px 0px 0px !important;
}

.datasetview-maincontent .module-narrow {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
}

.main-outer-container {
    margin: 0px auto;
    margin-bottom: 20px;
    /*box-shadow: 0 4px 10px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);*/
    background: white;
    border-radius: 5px;
    /*padding: 10px 50px 50px 50px;*/
    position: relative;
    /*padding: 0px 30px 30px 30px;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.main-outer-container:before {
    float: left;
    height: 280px
}

.module .module-content p {
    font-size: 85%;
}

.resource-btn-container {
    margin-top: 10px;
}

a.tag:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 3px 10px;
}

.tag {
    border-radius: 1px;
    padding: 3px 10px;
}

.module .module-content .heading-meta {
    font-size: 80%;
    color: grey;
}

.dataset-resources,
.resource-list {
    margin-top: 10px;
}

a.label.sector-label {
    padding: 4px 6px;
    font-size: 75%;
}

.dataset-heading {
    font-size: 110%;
}

.media-list {
    list-style: none;
}

ul.media-list {
    margin: 0px;
}

li.org-item {
    padding: 10px 0px 20px 0px;
    margin-bottom: 10px;
    border-bottom: 1px dotted rgb(217, 217, 217);
}

li:last-child {
    border-bottom: none;
}

.search-form {
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.module-image {
    margin-right: 0px;
}

.span4.social-media-links {
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    color: white;
}

ul.footer-social {
    margin: 20px 0px;
    list-style: none;
}

.footer-social li.nav-item {
    display: inline;
    margin: 10px;
}

.social-media-links li i {
    text-decoration: none;
    font-size: 230%;
}

ul.footer-right-content {
    list-style: none;
    float: right;
}

ul.footer-right-content li {
    margin: 5px 0px;
}

h3.media-heading.org-title {
    font-size: 100%;
    word-break: break-word;
}

.org-dataset_count {
    font-size: 100%;
}

.dataset-sidebar-top {
    padding: 10px 25px 10px 12px;
}

i.icon-download-alt.icon-large {
    font-size: 14px;
}

.toolbar {
    margin: 10px 0px 15px 0px;
    padding: 0px;
}

.module-heading {
    position: relative;
    border-top-width: none;
}

.tag {
    border-radius: 2px;
}

.section-hr {
    margin: 5px 0px;
    border-top: 1px solid rgba(204, 204, 204, 0.51);
    ;
}

.toolbar .breadcrumb {
    font-size: 16px;
}

.org-title a {
    font-weight: normal;
}




/*============== Revise =============*/


/* Package Folder Templates */


/* read.html */

.dataset-description-container {
    padding-bottom: 20px;
}

.datasetview-maincontent {
    padding: 0px;
    overflow: hidden;
}

.datasetview-sidecontent {
    padding: 20px 0px 20px 20px;
}

.viscontainer {
    border-radius: 5px;
    background: none;
    margin-top: 0px;
}

.dataset-header-row {
    background: #004563;
    color: rgba(255, 255, 255, 0.98);
    border-radius: 5px 5px 0px 0px;
    padding: 10px 20px 10px 20px;
}

.inner-content-container {
    padding: 20px 40px;
    background: rgb(253, 253, 253);
}

.main-outer-container-small {
    margin: 0px auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.23);
    background: #fff;
    border-radius: 5px;
    padding: 20px 40px 40px 40px;
    margin-top: 20px;
    position: relative;
    border-top: 2px solid rgba(0, 0, 0, 0.08);
}

.module {
    margin: 3px 0px 20px;
}

.manage-button {
    float: right;
    margin-left: 10px;
}

.button-container {
    margin-top: 18px;
}

.ckanext-datapreview {
    padding-top: 0px;
}

.dataset-detail-container {
    border-radius: 0px 0px 5px 5px;
    background: none;
    background: rgba(197, 197, 197, 0.51);
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}




/* Snippets */


/* resource_view.html */

.resource-view {
    margin-top: 0px;
}

.m-top {
    margin-top: 5px;
}




/* tags.html */

.tags-section {
    margin-top: 20px;
    margin-bottom: 30px;
}




/* resource_item.html */

.resource-item .btn-group {
    position: relative;
    top: 0px;
}




/* embed_button.html */

.top-header-rightcol {
    margin-top: -8px;
}

.wrapper {
    background-image: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.dataset-side-content {
    border-bottom: 1px solid rgba(48, 49, 44, 0.2);
    border-right: 1px solid rgba(48, 49, 44, 0.2);
}

a:hover,
a:focus {
    text-decoration: underline;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
    color: black;
    background-color: rgba(248, 202, 77, 0.95);
    ;
}

.dropdown-menu li a {
    background-color: white!important;
}

a {
    color: #000000;
}

.notes {
    margin: 10px;
}

.table-container {
    font-weight: 300;
    padding: 20px 10px;
}

.site-footer {
    background: #00202F url("../../../base/images/bg.png");
}

.dataset-description {}

.nav-tabs.nav-stacked>li>a {
    color: #555555;
}

.nav-tabs.nav-stacked>li.elem.active {
    font-weight: bold;
}

.page-header {
    border-bottom: none;
    background-color: transparent;
}

.primary {
    display: flex;
    flex: 1;
}

.filters .nav-item a span {

    font-size: 100%;
    font-weight: 300;
}

.dataset-content .dataset-description {
    font-size: 95%;
    font-weight: 300;
}

.dataset-heading a {
    font-size: 100%;
}

.sectors-box {
    margin: 0px auto;
    width: 300px;
}



/* =============== New page Design =====================*/

.top-container {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.49);
    background: #c1d6e9;
    padding-bottom: 30px;
}

h2.home-tagline {
    font-weight: 100;
}

form.module-content.search-form {
    padding-bottom: 0px;
}

.searchbar-container {
    margin-top: -20px;
}

.dataset_count-banner {
    font-weight: 100;
    text-align: center;
}

.dataset-explore {
    margin-top: 10px;
}

.homepage-logo {
    display: block;
    margin: 0px auto;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-container .search-form .search-input.search-giant input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}




/* =============== New page Design =====================*/


/*==============================================

::-webkit-scrollbar {
    width: 16px;
}




::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}




::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {}
*/

@media (max-width: 480px) {
    .banner-container {
        min-width: 100%;
        background: url("../../../Mobile_banner-13.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }
    hgroup.header-image.pull-left {
        width: 80%;
    }
    .masthead .btn-navbar {
        margin-top: 0px;
    }

    .banner-outer-container {
        background-color: rgb(172, 201, 226);
    }
}

@media (min-width: 480px) {
    .banner-container {
        min-width: 100%;
        background: url("../../../Banner_update_bottom.jpg");
        background-size: cover;
    }
}

@media (min-width: 767px) {

    .wrapper {
        min-height: 400px;
        background-image: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
    }
    .row-fluid .secondary {
        width: 25%;
    }
    .row-fluid .primary {
        width: 75%;
    }
    .outer-main-container {
        width: 80%;
        margin: 0px auto;
    }
    .footer-row {
        margin-left: -20px;
    }
    .inner-content-container {
        border-radius: 5px 0px 5px 5px;
    }
    .primary,
    .inner-content-container {
        padding-bottom: 9999px;
        margin-bottom: -9999px;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0px;
    }
    .row-fluid .primary {
        padding: 0px 10px;
    }
    .outer-main-container {
        width: 100%;
    }
    .wrapper {
        margin: 0px;
    }
    .footer-row {
        padding: 0px 20px;
    }
    .module-content {
        padding: 0 5px;
    }
    .toolbar {
        padding-left: 10px;
    }
    .toolbar,
    .toolbar .breadcrumb,
    .toolbar .breadcrumb a {
        color: #505050;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .dataset-header-row {
        padding: 10px 10px;
        font-size: 120%;
    }
    .homepage-logo {
        width: 250px;
    }

    .sectorsclusters-container {
        padding: 30px 80px;
    }
}

@media (max-width: 480px) {
    .main-outer-container,
    .dataset-header-row {
        border-radius: 0px;
    }
    .dataset-header-row {
        font-size: 80%;
        padding: 10px 10px;
        font-size: 70%;
    }
    .resource-list {
        margin: 0px;
    }
    .inner-content-container {
        padding: 10px;
    }
    .section-hr {
        margin: 0px 0px;
    }
    .tags-section {
        margin-top: 0px;
    }
    .viscontainer {
        padding: 10px 10px 10px 10px;
        c
    }
    [role=main],
    .main,
    .main-outer-container {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .table-container {
        padding: 20px 5px;
    }
    .module-resource .actions {
        right: 0px;
        float: none;
    }
    .actions li {
        margin-bottom: 10px;
    }
    h1.page-heading {
        text-align: center;
    }
    ul.nav.nav-tabs.nav-tabs-plain {
        font-size: 90%;
    }
    li.org-item {
        padding: 10px 0px 10px 0px;
        margin-bottom: 10px;
    }
    .organizationclusters-container,
    .sectorsclusters-container {
        padding: 30px 30px;
    }
}

@media (min-width: 980px),
(max-width: 1100) {
    nav.section.navigation {
        margin-right: -20px;
    }
    .navbar .nav>li {
        font-size: 97%;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .module-image .org-img {
        width: 70%;
    }

    .sectors-box {
        width: 220px;
    }
    section.sector-list.module.module-narrow.module-shallow {
        height: 75px;
    }
    .sector-description {
        height: 75px;
    }
    h5.sector-media-heading {
        font-size: 80%;
    }
    .sector-module-image img {
        height: 75px;
    }
    .thumbnail>img {
        width: 200px;
    }
    .thumbnail {
        min-height: 225px;
        width: 150px;
    }
    .thumbnail h3 {
        font-size: 90%;
    }
}

@media only screen and (min-width:1200px) {
    a.logo img {
        margin-left: -30px;
    }
}

.ckanext-pages-content p {
    font-size: 85%;
}



/*

    background: rgba(208, 168, 37, 0.85);
    */


/* Temporary Styles */


/* Home Page */

.homepage-container .row {
    margin-left: 0px;
    margin-right: 0px;
}

.bg-white {
    background: white url("../../../base/images/bg.png");
}

.bg-grey {
    background: #E9EAE5 url("../../../base/images/bg.png");
    -moz-box-shadow: inset 0 0 8px #000000;
    -webkit-box-shadow: inset 0 0 8px #000000;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.49);
}

.intro-new-section {
    padding: 20px 0px 40px 0px;
}



.organizationclusters-container {

    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.49);
}

h2.home-tagline,
.levelgov-cont-header,
.sectors-cont-header {
    text-align: center;
}

.levelgov-cont-descr,
.sectors-cont-descr {
    text-align: center;
    padding: 5px 20px 20px 20px;
}


.module-image img {
    max-width: 180px;
    max-height: 200px;
}

.module-image {
    width: auto;
    height: auto;
    float: none;
}

.module-image .org-img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(128, 128, 128, 0.42);
    margin-bottom: 10px;
}

.sector-media-heading {
    font-size: 100%;
}

.span4.home-group-item {
    margin-bottom: 20px;
    display: inline-block;
}

section.sector-list.module.module-narrow.module-shallow {
    margin: 0;
    background-color: #F2F2F2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 115px;
    /*border: 1px solid rgba(128, 128, 128, 0.42);*/
}

section.sector-list.module.module-narrow.module-shallow:hover {
    background-color: white;
}

.module:first-child .sector-module-heading,
.sector-module-heading {
    padding: 0px;
    display: inline;
}

a.sector-module-image.sector-module-image {
    text-decoration: none;
    text-align: center;
}

.sector-module-image img {
    float: left;
    height: 115px;
    vertical-align: middle;
}

.sector-description {
    margin: auto;
    display: table;
    text-align: center;
    height: 117px;
    padding-left: 15px;
    padding-right: 15px;
}

h5.sector-media-heading {
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
}

.home-items-heading {
    margin-top: 0px;
    font-size: 90%;
}

.header-container {
    width: 100%;
}

.sectors-clusters-container {
    padding:20px 0px;
}

.thumbnails {
    margin: 0px;
    padding: 0px;
}

.features-banner {
    padding: 30px 40px 40px 40px;
    font-weight: 300;
}

.banner-head-tagline {
    margin-bottom: 40px;
}

.blog-banner {
    text-align: center;
}

.level-of-governance {
    padding: 20px;
}

.thumbnail h3 {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.3;
}

.thumbnail>img {
    width: 200px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.thumbnail {
    min-height: 200px;
    width: 140px;
    margin: 0px auto;
    background: #c1d6e9;
    padding: 0px;
    border: 1px solid rgba(51, 51, 51, 0.15);
}

.thumbnail:hover {
    background: white;
}

.thumbnails .span3 a {
    text-decoration: none;
}

a.btn.dataset-explore {
    font-size: 90%;
    font-weight: 400;
}

.sector-media-heading a {
    font-weight: 100;
}

.sector-module-image img {
    border-right: 1px solid rgb(210, 210, 210);
}

header.module-content.page-header.about-header {
    padding-top: 0px;
}

.about-header a.btn {
    margin: 10px;
}

p.org-description {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.74);
}

.organization_description {
    margin-top: -10px;
}

.org-description a {
    font-weight: 400;
}

img.banner-image {
    height: 80px;
    margin-bottom: 15px;
}

.banner-mid-description {
    margin-top: 20px;
}

.banner-bottom-image {
    width: 75%;
}

a.btn.btn-primary.dataset-explore {
    margin-top: 20px;
}

span.banner-head {
    font-size: 150%;
    font-weight: 700;
}

.row-fluid.feature-container {
    margin-top: 30px;
}

h2.banner-head {
    line-height: 0;
    font-size: 150%;
}

.row-fluid.icons_support_text {
    margin: 20px 0px 20px;
}

.levelgov-cont-descr p,
.sectors-cont-descr p {
    font-weight: 300;
    line-height: 1.5em;
}

img.media-image.media-object.pull-left.org-image {
    width: 100px;
}

.navbar .nav li.dropdown.open>.dropdown-toggle {
    background-color: rgba(248, 202, 77, 0.95);
}

.masthead .navigation .open li a:hover {
    color: white;
}

p.org-media-descrp {
    font-weight: 300;
}

.about-page ul {
    font-size: 85%;
}

.dropdown-backdrop {
    position: static;
}

.about_page ul {
    font-size: 85%;
}

.introductory-text h1 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: -10px;
}

.viz-iframe {
    margin-left: -40px;
}

.explore-button {
    margin-bottom: 20px;
    width: 175px;
    height: 50px;
    font-size: 18px !important;
}

.intro-desc {
    padding: 30px;
}

.nav sup {
    color: #041f2f;
    font-size: 6px;
    top: -2em;
}
.intro-desc {
    padding: 30px 60px;
    text-align: left;
    max-width: 400px;
}

/*.homepage-container .row-fluid{
       /*margin-left: -20px;
    margin-right: -20px;
}

.homepage-container .container-fluid{
    padding-left:0px;
    padding-right: 0px;
}*/

@media (max-width: 979px) and (min-width: 768px) {
    section.sector-list.module.module-narrow.module-shallow {
        height: 80px;
    }
    .sector-module-image img {
        height: 80px;
    }
    .sector-description {
        height: 80px;
    }
    .thumbnail {
        min-height: 220px;
        width: 160px;
    }
}

.feature-container .span3 {
    margin-bottom: 20px;
}

.intro-new-section .explore-button {
    color: #f3f3f3;
    padding: 10px 20px;
    font-family: 'Open Sans' ,sans-serif;
    background-color: rgb(18, 83, 124);
    border-color: #ddd;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}
.banner-description{
    margin-bottom:40px;
}

@media (min-width: 1250px) {
    .container-fluid.nav-container {
        width: 1000px;
        margin: 0px auto;
    }
}

@media (max-width: 1249px) and (min-width: 980px) {
    .container-fluid.nav-container {
        width: 90%;
        margin: 0px auto;
    }
}

@media (max-width: 1099px) and (min-width: 980px) {
    .navbar .nav>li>a {
        padding: 10px 5px 10px;
    }
    .container-fluid.nav-container {
        width: 95%;
        margin: 0px auto;
    }
}


@media  (min-width: 1099px) {
.button-row{
    max-width: 400px;    
    padding: 0px 60px;
}
}

@media  (min-width: 770px) {
.viz-iframe{
    float:right
}
}

@media  (max-width: 770px) {
.intro-desc {
        padding: 0px;
    text-align: center;
    /* max-width: 400px; */
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

}


