@media (max-width: 480px){
	.viscontainer{
		padding:5px;
	}
}

.nvd3 text,
    .nv-axislabel {
        font-family: 'Open Sans', sans-serif;
    }
    
    text {
        font-size: 12px;
    }
    
    svg {
        display: block;
    }
    
    
    
    #chart,
    svg {
        margin: 0 auto;
        padding: 0px;
        height: 400px;
        width: 100%;
        opacity: 0.95;
    }
    
    
    .nvd3 .nv-axis.nv-x path.domain {
        stroke-opacity: 1;
    }
    
    svg,
    .nv-background rect {}
    
    .nvd3 .nv-axis line {
        stroke: rgba(0, 0, 0, 0.05);
        opacity: 0.7;
    }
    
    path.domain {
        opacity: 0.8;
    }
    
    .nvtooltip.with-3d-shadow,
    .with-3d-shadow .nvtooltip {
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .nv-point {
        stroke-opacity: 1!important;
        stroke-width: 1px!important;
        fill-opacity: 0!important;
    }
    
    .nv-point.hover {
        stroke-width: 9px!important;
        fill-opacity: .95 !important;
        stroke-opacity: .95 !important;
    }
    
    
    
    .viz-header {
        float: left;
        color: rgb(0, 0, 0);
        font-size: 25px;
        padding-left: 20px;
        padding-top: 10px;
        opacity: 0.8;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
    
    .scheme-select {
        float: right;
    }

    .tick line{
    opacity: 1;
    stroke-width:2;
  }
#select-list > .nav-stacked > li {
    font-size: 13px;
    
}
.nv-axislabel {
    font: bold 14px "sans-serif" !important;
}

.nvd3 .nv-multibar .nv-groups rect, .nvd3 .nv-multibarHorizontal .nv-groups rect, .nvd3 .nv-discretebar .nv-groups rect{
    fill-opacity:1;
}

.viz-header{
    color:orange;
}